.main-content {
  margin: 100px 50px;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 350px;
  padding: 50px;

  color: aliceblue;
  font-size: 1.5rem;

  border: 2px lightsteelblue solid;
  border-radius: 20px;
}
