.title{
  color: aliceblue;
}


.search-bar{
  box-sizing: border-box;
  min-width: 350px;
  min-height: 30px;
  padding: 0 15px ;

  color: aliceblue;

  border-radius: 8px;
  border: 1px aliceblue solid;
  background-color: transparent;

  outline: none
}

.search-bar:focus{
  border: 2px wheat solid;
  
}