:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  box-sizing: border-box;
  background-color: #213547;
  background-image: url('./img/space.jpeg');
  background-size: cover;
}

#root {
  max-width: 95vw;
  margin: auto;
}

.link {
  color: aliceblue;
  text-decoration: none;
}

.link:hover {
  color: wheat;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 50px;
  color: wheat;
}

.range-wrapper {
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;

  font-weight: 700;

  background-color: rgba(0, 0, 0, 0.5);
  border: 2px lightsteelblue solid;
  border-radius: 20px;
}

.label {
  flex-grow: 1;
}

.main-wrapper {
  margin-top: 50px;
}

.page-prev {
  transform: rotate(180deg);
}

.page-number {
  height: 100%;
  padding: 0 30px;
  font-size: 20px;
  color: wheat;
  background-color: rgb(0, 0, 0);
}

.page-contaner {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-outlet {
  display: flex;
  justify-content: space-between;
}

.main-card {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}
